<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Assignment 1</title>
		<link rel="stylesheet" href="/static/css/style.css">
	</head>

	<body>
		<header>
			<ul>
				<li>
					<a href="/index">home</a>
				</li>
				<li>
					<a href="/about">about us</a>
				</li>
				<li>
					<a href="/contact">contact</a>
				</li>
			</ul>
		</header>
		
            <h1>Hey There!</h1>
            <p>My name is Timothy Lim (or just 'Tim' for short). I am currently a fourth year studying Computer Science at UC Berkeley. I enjoy making videos, drawing, and graphic-designing on the side. <br/><br/>
            I'm currently looking for an job, either in Software Engineering or UI/UX. I find both fascinating, and want to learn/do more within those fields. Last last summer, I
            worked with PG&E as an IT Engineer.
            <br/><br/>
            Thank you for taking a look at my work, and I hope that it inspired you in some way!

            </p>

		<footer>
			<ul>
				<li>
					<a href="/index">home</a>
				</li>
				<li>
					<a href="/about">about us</a>
				</li>
				<li>
					<a href="/contact">contact</a>
				</li>
			</ul>
		</footer>
	</body>

</html>
